{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Document</title>
    <style>
        .shadow {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            color: brown
        }
    </style>
</head>

<body>
   

    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 shadow px-2 "
        style="position: fixed;top:0px; z-index: 20; ">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="{% url 'home' %}"><i
                            class="fa-solid fa-house"></i>Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart_detail' %}"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}"><i class="fa-solid fa-phone-volume"></i>Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section1">About</a>
                </li>
                <li class="nav-item ">
                    {% if user_name %}
                    <p >{{user_name}}</p>
                  
                {% endif %}
                </li>
            
            </ul>

            <form class="d-flex" action="{% url 'home'  %}" onsubmit="return validation1(event)">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    name="searchproduct" id="searchproduct">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ">

                {% if user_name %}
                <li class="nav-item">
                    <a class="nav-link text-black" href="{% url 'logout' %}"> Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-black" href="{% url 'login' %}">Login </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="{% url 'signup' %}"> Sign Up</a>
                </li>

                {% endif %}


                </li>
            </ul>
        </div>
    </nav>



    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
       

    <script>
        $(function () {
            var availableTags = [
                "laptop",
                "watch",
                "headphone",
                "mouse",
                "keyboard"
            ];
            $("#searchproduct").autocomplete({
                source: availableTags
            });
        });
    </script>
    <script>
        function validation1(event) {
            var searchval = document.getElementById('searchproduct').value;
            if (searchval == "") {
                return false
            }

            return true
        }
    </script>
</body>

</html>